# Ignore everything in this directory
/*

# But not these files...
!.gitignore
!kitty
!rofi
!mpv
!waybar
!yazi
!qt6ct
!matugen
!waypaper
!hypr
!btop
!gtk-3.0
!gtk-4.0
gtk-4.0/assets
!dunst
!README.md
!clipse
clipse/tmp_files
!clipse/config.json
!clipse/custom_theme.json
clipse/clipboard_history.json
clipse/clipse.log
!calcurse
!scripts
!xsettingsd
!kwalletrc
!gpu-screen-recorder
!user-dirs.dirs

#Termusic
!termusic
termusic/*
!termusic/tui.toml

#VsCode
!Code
Code/*
!Code/User
Code/User/*
!Code/User/settings.json
!Code/User/keybindings.json

#VSCodium
!VSCodium
VSCodium/*
!VSCodium/User
VSCodium/User/*
!VSCodium/User/settings.json
!VSCodium/User/keybindings.json
