# Ignore everything in this directory
/*

# But not these files...
!.gitignore
!kitty
!rofi
!mpv
!waybar
!yazi
!qt6ct
!matugen
!waypaper
!hypr
!btop
!gtk-3.0
!gtk-4.0
gtk-4.0/assets
!dunst
!README.md
!clipse
clipse/tmp_files
!clipse/config.json
!clipse/custom_theme.json
clipse/clipboard_history.json
clipse/clipse.log
!calcurse
!scripts
#musikube
!musikcube
musikcube/1
musikcube/cache
musikcube/stderr.txt
musikcube/log.txt

#VsCode
!Code
Code/*
!Code/User
Code/User/*
!Code/User/settings.json

