configuration {
    modes: "drun,run,window,combi";
    combi-modes: "drun,run,window";
    show-icons: true;
    click-to-exit: true;
    drun-display-format: "{name}";
    display-drun: "Search";
    lines: 8;
}
@theme "~/.config/rofi/matugen.rasi"
