configuration {
    font: "JetBrainsMono Nerd Font 12";
    modes: "drun,run,window,combi";
    combi-modes: "drun,run,window";
    show-icons: true;
    click-to-exit: true;
    drun-display-format: "{name}";
    display-drun: "Search";
    lines: 8;
}
@import "~/.config/rofi/launcher.rasi"
@import "~/.config/matugen/themes/colors.rasi"
