[user]
	name = Senal-D-A-Gunaratna
	email = 230862861+Senal-D-A-Gunaratna@users.noreply.github.com
[init]
	defaultBranch = main
[alias]
	fix-ignore = !git rm -r --cached . && git add . && git commit -m \"Fix: apply .gitignore\"
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
